numpy
scipy
numba
requests
openai
torch
tensorboard
wandb
pytz
pandas
matplotlib
ttkbootstrap
codebleu
tree-sitter-python==0.23
gym
datasets
huggingface_hub
networkx
# langchain_ollama
git+https://github.com/XAI-liacs/LLaMEA.git@main        #New method.